.customer-form {
    background-image: url("../img/clock.jpg");
    background-size: cover;
    margin: 0;
}

.custom-header {
    font-family: Georgia, serif;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
}

.custom-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-bottom: 76px;
    border-radius: 3px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 46px;
    padding-top: 11px;
    background-color: rgba(255, 255, 255, 0.8);
}

.feedback-list {
    opacity: 0.8;
    margin-bottom: 76px;
}

.img {
    font-size: 3em;
    text-align: center;
    padding: 2px;
}

.star-color {
    color: goldenrod;
}